@font-face {
	font-family: 'Letters for Learners';
	src: url('../fonts/Letters for Learners.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Black.ttf') format('truetype');
	font-weight: bold;
	font-weight: 800;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-BlackItalic.ttf') format('truetype');
	font-weight: italic;
	font-weight: 800;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Bold.ttf') format('truetype');
	font-weight: bold;
	font-weight: 600;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-BoldItalic.ttf') format('truetype');
	font-weight: italic;
	font-weight: 600;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Italic.ttf') format('truetype');
	font-weight: italic;
	font-weight: 400;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Light.ttf') format('truetype');
	font-weight: normal;
	font-weight: 200;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-LightItalic.ttf') format('truetype');
	font-weight: italic;
	font-weight: 200;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-weight: 400;
}


body {
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	border-width:0;
}



.quadro {
	border-radius: 5%;
	background-color: white;
	margin: 5%;
}



.alinharCentro {
	clear: both;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.textoBranco {
	color: #FFF
}
figure.imagemPrincipal {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	padding: 0;
	height: 100%;
	text-align: left;
}
figure.imagemPrincipal img {
	position: relative;
	left: 50%;
	top: 50%;
	max-width: 50%;
	min-height: 100%;
	height: 100%;
	border-radius: 0;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
	border: none !important;
	box-shadow: 0px 0px 30px #333;
}
header {
	position: relative;
	top: 0;
	left: 0;
	z-index: 15;
	padding: 4em 15%;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	background-color: #61b8e7;
}
@media (max-width: 780px){
	.home{
		display:block;
		width: 180px;
		clear: both;
		cursor: pointer;
		float: center;
		outline: none;
		border: none;
		background-color: #e85037;
		padding: 1em;
		box-shadow: 4px 4px 0px #905037;
		border-radius: 1.2em;
		color: white;
		font-family: 'Lato';
		text-align: center;
		font-size: 1.5em;
		font-weight: 700;
		line-height: 1.4em;
		text-transform: uppercase;
		text-decoration: none;
		margin: 1em 0.4em 1.4em 1.4em;
		vertical-align:top;
	}
	header p {
	font-family: 'Letters for Learners', Helvetica, Arial, sans-serif;
	margin: 0;
	font-weight: bold;
	text-align: center;
	padding: 0;
	text-indent: 0;
	font-size: 7vw;
	color: white;
}
p {
	-epub-hyphens:none;
	color:#0d3648;
	font-family:"Letters for Learners", sans-serif;
	font-size:6vw;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
	text-align: center;
}
.w25{
	width: 100%;
}
.w50{
	width: 100%
}
.w75{
	width: 100%
}
.w100{
	width: 100%
}
main {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	border-width:0;
}
p.destaque{
	font-size:10vw;
	font-weight: bold;
	color: white;
}
}
@media (min-width: 781px){
	.home{
		float:left;
		display: inline-block;
		clear: none;
		width: 180px;
		cursor: pointer;
		outline: none;
		border: none;
		background-color: #e85037;
		padding: 1em;
		box-shadow: 4px 4px 0px #905037;
		border-radius: 1.2em;
		color: white;
		font-family: 'Lato';
		text-align: center;
		font-size: 1.5em;
		font-weight: 700;
		line-height: 1.4em;
		text-transform: uppercase;
		text-decoration: none;
		vertical-align:top;
	}
	header p {
	font-family: 'Letters for Learners', Helvetica, Arial, sans-serif;
	margin: 0;
	font-weight: bold;
	text-align: center;
	padding: 0;
	text-indent: 0;
	font-size: 3em;
	color: white;
}
p {
	-epub-hyphens:none;
	color:#0d3648;
	font-family:"Letters for Learners", sans-serif;
	font-size:28px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
	text-align: center;
}
.w25{
	width: 25%;
}
.w50{
	width: 50%
}
.w75{
	width: 75%
}
.w100{
	width: 100%
}
main {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	border-width:0;
}
p.destaque{
	font-size:52px;
	font-weight: bold;
	color: white;
}
}
.home:hover{
	background-color: #ff761a;
	box-shadow: 4px 4px 0px #9a6928;
}


figure {
	max-width: 100%;
	text-align: left;
}
figure img {
	position: relative;
	display: inline-block;
	height: auto;
	margin-bottom: 2.5em;
	border-radius: 2em;
}
div.secao{
	padding-top: 3%;
	padding-bottom: 3%;
	left:0;
	right:0;
	clear: both;
	max-width: 48%;
	margin: 0 auto;
}
div.wrap{
	box-sizing: border-box;
	min-width: 130%;
	margin-left: -15%;
	float: center;
}
br {
	margin: 5%;
}
img {
	margin-top: 3%;
	margin-bottom: 3%; 
}

.logo{
	position: relative;
	width: 30%;
	text-align: center;
	float: center;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	display: block;
	text-align: center;
}
.pageLink{
	background-color: #e85037;
	position: relative;
	padding: 0.5em 1em 0.5em 60px;
	box-shadow: 4px 4px 0px #905037;
	border-radius: 1.2em;
	color: white;
	font-family: 'Lato';
	text-align: center;
	font-size: 1.2em;
	font-weight: 700;
	line-height: 1.4em;
	text-transform: uppercase;
	text-decoration: none;
	margin: 1em 0.4em 1.4em 1.4em;
}
.pageLink:hover {
	background-color: #ff761a;
	box-shadow: 4px 4px 0px #9a6928;
}
.pageLink.PDF:after {
	content: '';
	position: absolute;
	left: -15px;
	top: -15px;
	width: 77px;
	height: 77px;
	background: transparent url('../image/icone-pdf.png') no-repeat;
}
.pageLink.RA:after {
	content: '';
	position: absolute;
	left: -25px;
	top: -12px;
	width: 77px;
	height: 77px;
	background: transparent url('../image/icone-ra.png') no-repeat;
}
.pageLink.prof:after {
	content: '';
	position: absolute;
	left: -20px;
	top: -15px;
	width: 77px;
	height: 77px;
	background: transparent url('../image/icone-prof.png') no-repeat;
}
.pageLink.LD:after {
	content: '';
	position: absolute;
	left: -15px;
	top: -15px;
	width: 77px;
	height: 77px;
	background: transparent url('../image/icone-ld.png') no-repeat ;
}
.content{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 7%;
}
.content p{
	font-family: 'Lato';
	font-weight: 400;
	font-size: 18pt;
	color: white;
}
.button{
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}
.wrapped{
	box-sizing: border-box;
	min-width: 130%;
	margin-left: -15%;
	float: center;
}