@font-face {
	font-family: 'Letters for Learners';
	src: url('../fonts/Letters for Learners.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Black.ttf') format('truetype');
	font-weight: bold;
	font-weight: 800;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Bold.ttf') format('truetype');
	font-weight: bold;
	font-weight: 600;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Italic.ttf') format('truetype');
	font-weight: italic;
	font-weight: 400;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Light.ttf') format('truetype');
	font-weight: normal;
	font-weight: 200;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-weight: 400;
}


body {
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	border-width:0;
}
main {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	border-width:0;
}
p {
	-epub-hyphens:none;
	color:#0d3648;
	font-family:"Letters for Learners", sans-serif;
	font-size:28px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
	text-align: center;
}
p.destaque{
	font-size:52px;
	font-weight: bold;
	color: white;
}
.quadro {
	border-radius: 5%;
	background-color: white;
	box-shadow: inset 0px 0px 20px 0px #000;
	margin: 5%;
}


.w25{
	width: 25%;
}
.w50{
	width: 50%
}
.w75{
	width: 75%
}
.w100{
	width: 100%
}
.alinharCentro {
	clear: both;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.textoBranco {
	color: #FFF
}
figure.imagemPrincipal {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	padding: 0;
	height: 100%;
	text-align: left;
}
figure.imagemPrincipal img {
	position: relative;
	left: 50%;
	top: 50%;
	max-width: 50%;
	min-height: 100%;
	height: 100%;
	border-radius: 0;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
	border: none !important;
	box-shadow: 0px 0px 30px #333;
}
header {
	position: relative;
	top: 0;
	left: 0;
	z-index: 15;
	padding: 4em 15%;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	background-color: #61b8e7;
}
@media (max-width: 780px){
	button.home{
		display:block;
		width: 180px;
		height: 70px;
		clear: both;
		cursor: pointer;
		float: center;
		outline: none;
		border: none;
		background-color: #e85037;
		padding: 0.5em 1em 0.5em 60px;
		box-shadow: 4px 4px 0px #905037;
		border-radius: 1.2em;
		color: white;
		font-family: 'Lato';
		text-align: center;
		font-size: 1.2em;
		font-weight: 700;
		line-height: 1.4em;
		text-transform: uppercase;
		text-decoration: none;
		margin: 1em 0.4em 1.4em 1.4em;
		vertical-align:top;
	}
}
@media (min-width: 781px){
	button.home{
		float:left;
		display: inline-block;
		clear: none;
		width: 180px;
		height: 70px;
		cursor: pointer;
		outline: none;
		border: none;
		background-color: #e85037;
		padding: 0.5em 1em 0.5em 60px;
		box-shadow: 4px 4px 0px #905037;
		border-radius: 1.2em;
		color: white;
		font-family: 'Lato';
		text-align: center;
		font-size: 1.2em;
		font-weight: 700;
		line-height: 1.4em;
		text-transform: uppercase;
		text-decoration: none;
		margin: 1em 0.4em 1.4em 1.4em;
		vertical-align:top;
	}
}
header p {
	font-family: 'Letters for Learners', Helvetica, Arial, sans-serif;
	margin: 0;
	font-weight: bold;
	text-align: center;
	padding: 0;
	text-indent: 0;
	font-size: 3em;
	color: white;
}

figure {
	max-width: 100%;
	text-align: left;
}
figure img {
	position: relative;
	display: inline-block;
	height: auto;
	margin-bottom: 2.5em;
	border-radius: 2em;
}
div.secao{
	padding-top: 3%;
	padding-bottom: 3%;
	left:0;
	right:0;
	clear: both;
	max-width: 48%;
	margin: 0 auto;
}
div.wrap{
	box-sizing: border-box;
	min-width: 130%;
	margin-left: -15%;
	float: center;
}
br {
	margin: 5%;
}
img {
	margin-top: 3%;
	margin-bottom: 3%; 
}


@media (max-width: 900px){
	.logo{
		width: 70%;
		text-align: center;
		float: center;
		display: block;
		clear: both
		margin-top: 0;
		margin-right: auto;
		margin-left: auto;
	}
	.foto{
		width: 80%;
		text-align: center;
		float: center;
		display: block;
		clear: both
		margin-top: 0;
		margin-right: auto;
		margin-left: auto;
	}
	.pageLink{
		background-color: #e85037;
		position: relative;
		padding: 0.5em 1em 0.5em 60px;
		box-shadow: 4px 4px 0px #905037;
		border-radius: 1.2em;
		color: white;
		font-family: 'Lato';
		text-align: center;
		font-size: 2.2vw;
		font-weight: 700;
		line-height: 1.4em;
		text-transform: uppercase;
		text-decoration: none;
		margin: 1em 0.4em 1.4em 1.4em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.content p{
		font-family: 'Lato';
		font-weight: 400;
		font-size: 5vw;
		line-height: 1.7em;
		color: white;
		text-align: left;
	}
	.contentSobre p{
		font-family: 'Lato';
		font-weight: 400;
		font-size: 5vw;
		line-height: 1.7em;
		color: white;
		text-align: left;
	}
	.sobreLink{
		color: white;
		font-family: 'Lato';
		font-size: 3vw;
		font-weight: 700;
		line-height: 1.4em;
		text-transform: uppercase;
		text-decoration: none;
		margin-right: 4em;
		clear: both;
		text-align: left;
		display: block;
	}

.icone{
	display: inline;
	vertical-align: middle;
	width: 30px;
	margin-right: 5px;
}
h1{
	font-family: 'Lato';
		font-weight: 800;
		font-size: 6vw;
		line-height: 1.7em;
		color: white;
		text-align: left;
		text-transform: uppercase;
}
}
@media (min-width: 901px){
	h1{
	font-family: 'Lato';
		font-weight: 200;
		font-size: 4vw;
		line-height: 1.7em;
		color: white;
		text-align: left;
		text-transform: uppercase;
}
	.logo{
		width: 25%;
		text-align: left;
		float: left;
		display: block;
		margin-top: 0;
		margin-right: 10em;
	}
	.foto{
		width: 35%;
		text-align: left;
		float: left;
		display: block;
		margin-top: 0;
		margin-right: 10em;
	}
	.pageLink{
		background-color: #e85037;
		position: relative;
		padding: 0.5em 1em 0.5em 3em;
		box-shadow: 4px 4px 0px #905037;
		border-radius: 1.2em;
		color: white;
		font-family: 'Lato';
		text-align: center;
		font-size: 1.2vw;
		font-weight: 700;
		line-height: 1.4em;
		text-transform: uppercase;
		text-decoration: none;
		margin: 1em 0.4em 1.4em 1.4em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.sobreLink{
		color: white;
		font-family: 'Lato';
		font-size: 1vw;
		font-weight: 700;
		line-height: 1.4em;
		text-transform: uppercase;
		text-decoration: none;
		margin-right: 4em;
	}
	.content p{
		font-family: 'Lato';
		font-weight: 400;
		font-size: 1.5vw;
		line-height: 1.7em;
		color: white;
		text-align: left;
	}
	.contentSobre p{
		font-family: 'Lato';
		font-weight: 400;
		font-size: 1.5vw;
		line-height: 1.7em;
		color: white;
		text-align: left;
	}

.icone{
	display: inline;
	vertical-align: middle;
	width: 40px;
	margin-right: 5px;
}
}




.pageLink:hover {
	background-color: #ff761a;
	box-shadow: 4px 4px 0px #9a6928;
}
.pageLink.PDF:after {
	content: '';
	position: absolute;
	left: -1.2em;
	top: -0.8em;
	width: 3.7em;
	height: 3.7em;
	background: transparent url('../image/icone-pdf.png') no-repeat;
	background-size: 100%;
}
.pageLink.autor:after {
	content: '';
	position: absolute;
	left: -1.2em;
	top: -0.8em;
	width: 3.7em;
	height: 3.7em;
	background: transparent url('../image/icone-autor.png') no-repeat;
	background-size: 100%;
}
.pageLink.RA:after {
	content: '';
	position: absolute;
	left: -1.4em;
	top: -0.8em;
	width: 3.7em;
	height: 3.7em;
	background: transparent url('../image/icone-ra.png') no-repeat;
	background-size: 100%;
}
.pageLink.prof:after {
	content: '';
	position: absolute;
	left: -1.4em;
	top: -1em;
	width: 3.7em;
	height: 3.7em;
	background: transparent url('../image/icone-prof.png') no-repeat;
	background-size: 100%;
}
.pageLink.LD:after {
	content: '';
	position: absolute;
	left: -1.2em;
	top: -0.8em;
	width: 3.7em;
	height: 3.7em;
	background: transparent url('../image/icone-ld.png') no-repeat ;
	background-size: 100%;
}
.content{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 1%;
}
.contentSobre{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 2%;
}

.button{
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: left;
}
.button ul li{
	list-style: none;
	margin-top: 4em;
}
.wrapped{
	box-sizing: border-box;
	min-width: 100%;
	margin-left: auto;
	margin-right: auto;
	float: center;
}
li{
	list-style: none;
}
.icones {
	float: center;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	display: block;
	clear: both;
}
